---
# Lotus user and group name
lotus_user: lotus
lotus_group: lotus

# Boost user and group name
boost_user: boost

# Certbot email - used to automatically generate SSL certificates for Booster HTTP
# You MUST change this, or you will get an error when running the playbook.
certbot_email: hello@filecoin.io

# Network interface you would like each daemon to listen on.
lotusd_bind_interface: enp6s18
lotus_miner_bind_interface: enp6s18
yugabyte_bind_interface: enp6s18
boost_bind_interface: enp6s18

# (Sub)domain to use for listening for new requests and retrievals over HTTP(S)
sp_domain: "subdomain.your.miner.domain"

# Location for lotus and lotus-miner. The chain is stored under lotus_path. This requires fast storage (SSD or NVMe).
# Defaults to ~/.lotus, ~/.lotusminer respectively (with "_calibnet" appended if use_calibrationnet is true).
lotus_path: "{{ lotus_user_details.home }}/.lotus{% if use_calibrationnet %}_calibnet{% endif %}"
lotus_miner_path: "{{ lotus_user_details.home }}/.lotusminer{% if use_calibrationnet %}_calibnet{% endif %}"

# Location for boost.
# Defaults to ~/.boost (with "_calibnet" appended if use_calibrationnet is true).
#boost_path: "/opt/.boost"

# Location for the Lotus log file(s)
log_dir: "/var/log/lotus"

# Whether to create the Lotus system user defined above automatically
create_lotus_system_user: true

# Skip wallet creation, chain sync and import and similar tasks. Just test building the software.
smoketest: false

# What Node.JS version to use
nodejs_version: 18.x
nodejs_install_npm_user: "{{ lotus_user }}"

# Check which version of Lotus matches with which version of Boost and Go: https://boost.filecoin.io/getting-started
# Then set them appropriately in your playbook or group_vars.
lotus_version: "v1.23.3"
golang_version: "1.20.7"
boost_version: "v2.0.0"

# Public (Lotus) IP address override. This is useful if you have multiple public IP addresses and want to bind Lotus to a specific one.
# You can safely leave this unset if you only have one public IPV4 address or if it's the default public IP for your network.
# If not set, we will attempt to automatically determine your public IP address using the service https://ifconfig.me.
#lotus_public_ip: 101.234.123.234

# Public (Boost) IP address override. This is useful if you have multiple public IP addresses and want to bind Boost to a specific one.
# You can safely leave this unset if you only have one public IPV4 address or if it's the default public IP for your network.
# If not set, we will attempt to automatically determine your public IP address using the service https://ifconfig.me.
#boost_public_ip: 101.234.123.235

# Private (miner API) IP address override. This is useful if you have multiple private IP addresses and want to bind Lotus to a specific one.
# This setting is MANDATORY if your Lotus miner node's private IP address is different from the default IP detected by Ansible -
# which is likely to be the case if your miner is running in the cloud or has a semi-exotic networking setup.
#lotus_miner_ip: 10.1.137.137

# Port for Lotus Daemon to run on
lotus_daemon_port: 1234

# Port for libp2p host to run on
lotus_libp2p_port: 6665

# Port for Lotus Miner to run on
lotus_miner_port: 2345

# Ports for Boost to run on
boost_libp2p_port: 24001

# Set a custom IPFS gateway to use for miner parameter download.
# Must be the protocol and domain of the IPFS gateway, without anything after it. For example: "http://ipfs.io"
# This is useful if you need to use a more local IPFS gateway (maybe one on your network) to download the initial parameters for Filecoin.
# Leave it commented out if you do not explicitly need this feature and it will not be used.
#ipfs_gateway: "http://localhost:8080"

# Skip the NVIDIA driver reboot. This should be set to true unless you have a good reason to set it to false.
nvidia_driver_skip_reboot: true

# We automatically reboot the node if we cannot detect a GPU, Lotus is being installed for the first time and install_nvidia_driver is true.
# You may want to change this behaviour for your specific environment - if so, set this to true.
lotus_nvidia_skip_reboot: false

# By default we do not attempt to install the NVIDIA GPU drivers. This is to keep compatibility with AMD GPU-equipped systems.
# Set this to true to install the drivers.
install_nvidia_driver: false

# If we install the NVIDIA drivers, install the latest version and use the CUDA versions
nvidia_driver_ubuntu_install_from_cuda_repo: true
nvidia_driver_ubuntu_cuda_package: "cuda-drivers-535"

# Locations for the miner proof and param caches. This needs to be fast storage, ideally NVMe, and requires about 150GiB of space.
param_cache: "/opt/cache/param_cache"
parent_cache: "/opt/cache/parent_cache"

# Choose the sector size for your miner: 32GiB / 64GiB
sector_size: "32GiB"

# Minimum amount of FIL for a wallet to be considered funded. This is used to determine if a wallet is ready to be used for mining.
wallet_fund_threshold: 0.1

# If you are ready for mainnet, you know what to do here. See the docs if you're not sure!
use_calibrationnet: true
ready_for_mainnet: false

### Power user tweaks, use with caution! ###
# Driver and kernel upgrade controls. Note that freezing the driver version does not necessarily prevent kernel upgrades from being possible.
# Freeze kernel version to prevent automatic kernel upgrades.
power_freeze_kernel: false
# Freeze NVIDIA drivers to prevent automatic driver upgrades.
power_freeze_nvidia_drivers: false
