---
# Lotus user and group name
lotus_user: lotus
lotus_group: lotus

# Location for lotus and lotus-miner. The chain is stored under lotus_path. This requires fast storage (SSD or NVMe).
# Defaults to ~/.lotus, ~/.lotusminer respectively (with "_calibnet" appended if use_calibrationnet is true).
#lotus_path: "/opt/.lotus"
#lotus_miner_path: "/opt/.lotusminer"

# Location for the Lotus log file(s)
log_dir: "/var/log/lotus"

# Whether to create the Lotus system user defined above automatically
create_lotus_system_user: true

# What Node.JS version to use
nodejs_version: 18.x
nodejs_install_npm_user: "{{ lotus_user }}"

# Public (Lotus) IP address override. This is useful if you have multiple public IP addresses and want to bind Lotus to a specific one.
# You can safely leave this unset if you only have one public IPV4 address or if it's the default public IP for your network.
# If not set, we will attempt to automatically determine your public IP address using the service https://ifconfig.me.
#lotus_public_ip: 101.234.123.234

# Private (miner API) IP address override. This is useful if you have multiple private IP addresses and want to bind Lotus to a specific one.
# This setting is MANDATORY if your Lotus miner node's private IP address is different from the default IP detected by Ansible -
# which is likely to be the case if your miner is running in the cloud or has a semi-exotic networking setup.
#lotus_miner_ip: 10.1.137.137

# Port for Lotus Daemon to run on
lotus_daemon_port: 1234

# Port for libp2p host to run on
lotus_libp2p_port: 6665

# Skip the NVIDIA driver reboot. This should be set to true unless you have a good reason to set it to false.
nvidia_driver_skip_reboot: true

# We automatically reboot the node if we cannot detect a GPU, Lotus is being installed for the first time and install_nvidia_driver is true.
# You may want to change this behaviour for your specific environment - if so, set this to true.
lotus_nvidia_skip_reboot: false

# By default we do not attempt to install the NVIDIA GPU drivers. This is to keep compatibility with AMD GPU-equipped systems.
# Set this to true to install the drivers.
install_nvidia_driver: false

# If we install the NVIDIA drivers, install the latest version and use the CUDA versions
nvidia_driver_ubuntu_install_from_cuda_repo: true
nvidia_driver_ubuntu_cuda_package: "cuda-drivers-535"

# Choose the sector size for your miner: 32GiB / 64GiB
sector_size: "32GiB"

# Minimum amount of FIL for a wallet to be considered funded. This is used to determine if a wallet is ready to be used for mining.
wallet_fund_threshold: 0.1

# If you are ready for mainnet, you know what to do here. See the docs if you're not sure!
use_calibrationnet: true
ready_for_mainnet: false