---
# Configuration for YugabyteDB nodes
yugabyte_bind_interface: enp6s18

# Port settings for YugabyteDB. The defaults should be fine, but feel free to override these.
# Please do not change these on a running cluster unless you know what you are doing and why.
yugabyte_master_port: 7100
yugabyte_master_rpc_port: "{{ yugabyte_master_port }}"
yugabyte_tserver_rpc_port: 29814

# Please change this default password to something more secure once YugabyteDB is set up and installed.
# We recommend also changing the username for increased security, but this is not strictly required.
boost_yugabytedb_superuser:
  username: "yugabyte"
  password: "yugabyte"