[lotus_primary]
localhost

[lotus_miner]
localhost

[lotus_worker]
localhost

[lotus:children]
lotus_primary
lotus_miner
lotus_worker

[boost]
localhost

[boost_data]
localhost

[booster_http]
localhost

[yugabytedb]
localhost

[yugabytedb_master]
localhost

[yugabytedb_tserver]
localhost
