[lotus_primary]
localhost

[lotus_miner]
localhost

[boost]
localhost

[boost_data]
localhost

[booster_http]
localhost

[yugabytedb]
localhost

[yugabytedb_master]
localhost

[yugabytedb_tserver]
localhost
