--tserver_master_addrs={% for host in groups['yugabytedb_master'] %}{{ hostvars[inventory_hostname]['ansible_' + yugabyte_bind_interface]['ipv4']['address'] }}:{{ yugabyte_master_port }}{% if not loop.last %},{% endif %}{% endfor %} 
--rpc_bind_addresses={{ hostvars[inventory_hostname]['ansible_' + yugabyte_bind_interface]['ipv4']['address'] }}:{{ yugabyte_tserver_rpc_port }} 
--enable_ysql 
--pgsql_proxy_bind_address={{ hostvars[inventory_hostname]['ansible_' + yugabyte_bind_interface]['ipv4']['address'] }}:5433 
--cql_proxy_bind_address={{ hostvars[inventory_hostname]['ansible_' + yugabyte_bind_interface]['ipv4']['address'] }}:9042 
--fs_data_dirs={{ yugabyte_data_dir }}