[Unit]
Description=Boostd Data service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User={{ boost_user }}
Group={{ boost_group }}
Restart=on-failure
RestartSec=3s
EnvironmentFile={{ boost_config_path }}/boostd-data.conf
ExecStart=/usr/local/bin/boostd-data run yugabyte \
    --hosts ${YUGABYTE_HOSTS} \
    --connect-string=${YUGABYTE_CONNECT_STRING} \
    --addr ${BIND_ADDR}

SyslogIdentifier={{ boost_user }}

[Install]
WantedBy=multi-user.target