FULLNODE_API_INFO={{ lotus_auth_token.stdout }}:/ip4/{{ hostvars[groups['lotus_primary'][0]]['ansible_' + lotusd_bind_interface]['ipv4']['address'] }}/tcp/{{ lotus_daemon_port }}
MINER_API_INFO={{ lotus_miner_auth_token.stdout }}:/ip4/{{ hostvars[groups['lotus_miner'][0]]['ansible_' + lotus_miner_bind_interface]['ipv4']['address'] }}/tcp/{{ lotus_miner_port }}