[Unit]
Description=Lotus Daemon
After=network-online.target
Requires=network-online.target

[Service]
Environment=GOLOG_FILE="{{ log_dir }}/lotus.log"
EnvironmentFile=/etc/default/lotus-daemon
User={{ lotus_user }}
Group={{ lotus_group }}
ExecStart=/usr/local/bin/lotus daemon
Restart=always
RestartSec=10

LimitNOFILE=256000:512000

StandardOutput=append:{{ log_dir }}/lotus.log
StandardError=append:{{ log_dir }}/lotus.log

[Install]
WantedBy=multi-user.target