[Unit]
Description=Lotus Daemon
After=network-online.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/default/lotus-daemon
User={{ lotus_user }}
Group={{ lotus_group }}
ExecStart=/usr/local/bin/lotus daemon
Restart=always
RestartSec=10

LimitNOFILE=256000:512000

SyslogIdentifier={{ lotus_user }}

[Install]
WantedBy=multi-user.target