{% set remote_listen_address = hostvars[inventory_hostname]['ansible_' + lotus_miner_bind_interface]['ipv4']['address'] %}
[API]
  ListenAddress = "/ip4/0.0.0.0/tcp/{{ lotus_miner_port }}/http"
  RemoteListenAddress = "{{ remote_listen_address }}:{{ lotus_miner_port }}"
  Timeout = "30s"

[Storage]
  AllowAddPiece = false
  AllowPreCommit1 = false
  AllowPreCommit2 = false
  AllowCommit = false
  AllowUnseal = false
  AllowReplicaUpdate = false
  AllowProveReplicaUpdate2 = false

[Sealing]
  CollateralFromMinerBalance = true
  DisableCollateralFallback = false
  BatchPreCommits = false
  AggregateCommits = false
