LOTUS_PATH="{{ lotus_path }}"
FIL_PROOFS_PARAMETER_CACHE="{{ param_cache }}"
FIL_PROOFS_PARENT_CACHE="{{ parent_cache }}"
LOTUS_SEALING_AGGREGATECOMMITS="false"
LOTUS_SEALING_BATCHPRECOMMITS="false"
LOTUS_WORKER_NAME={{ lotus_worker_name }}
{% if not local_storage %}LOTUS_WORKER_NO_LOCAL_STORAGE="true"{% endif %}

{% if extra_flags %}LOTUS_WORKER_EXTRA_FLAGS="{{ extra_flags }}"{% endif %}

LOTUS_WORKER_ROLES="{% for role in roles %}--{{ role }}{% if not loop.last %} {% endif %}{% endfor %}"